.product-top {
    display: flex;
    justify-content: center;


    padding-top: 80px;
    
}



.productop{
    width: 1100px;
    font-size: 17px;
}

.productop1{
    padding: 30px 0;
    
}
.productop1 a{
    font-weight: bold;
}
.productop1index{
    font-size: 19px;
}

.productop2{
    height: 560px;

}

.productimg{
    padding-right: 40px;
    width: 500px;
    float: left;
}
.producttexttop{
    font-size: 26px;
    padding: 10px 0;
}
.producttextdown{
    padding: 10px 0 10px 555.5px
}
.instock{
    padding-bottom: 20px;
}

.producttextprice{
    font-size: 26px;
    padding: 0px;

}

.numchoice{
    height: 30px;
    font-size: 30px;
}
.productintroduce{
    position: relative;
    margin-top: 100px;
    font-size: 15px;
}




.visit {
    height: 60px;
    padding-top: 35px;
    font-size: 20px;
    letter-spacing: 5px;
    margin-left: 459px;
    width: 143px;
    }




  .tpyetext,  textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    outline-style: none;
  }
  
  .feedback {
    background-color: #de705b;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .tpyetext:hover,  textarea:hover{
      background-color:#f1f1f1;
  }
  
  
  .feedback:hover {
    background-color: #e2a194;
  }
  
  .feedbackform{
    display: flex;
    justify-content: end;
    padding-bottom: 40px;
    padding-right: 150px;
  }
  .form-feedback{
    width: 500px;
    float: left;
  }
#feeed{
    margin-right: 40px;
}
.contactbox{
    /* height: 300px; */
    border: #000;
    margin-left: 557.5px;
    width: 500px;
    height: 320px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 2px solid #000;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 6px;

}
.contacthistory{

    padding: 5px 0 0 0;
    width: 500px;
    word-break: break-all;

}


#ccotact{
    width: 480px;
}

.contactcotet{
    width: 480px;
    margin-right: 61.5px;
}

.contactpage{
    height: 42px;
    margin-left: 557.5px;
    width: 500px;
    border-top: none;
    padding-left: 10px;
    font-size: 15px;
    border: 2px #000 solid;

}
.historyhr{
    margin-bottom: -15px;
}





.contactpage1{
    height: 42px;
    border: #000;
    width: 500px;
    
    font-size: 15px;

    border: 2px solid #000;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 16px;

}


.productttt img{
    width: 1100px;
    /* float: right; */
}


.my-rating-6 {
    display: flex;
    position: relative;
    padding-left: 10px;
    padding-top: 3px;
  }
